 .hero {
     width: 100%;
     min-height: 100vh;
     height: auto;
     position: relative;
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     overflow: hidden;
      padding: 1rem;
 }

 .hero-bg {
     position: absolute;
     opacity: 0.3;
     width: 100%;
     height: 100%;
     object-fit: cover;

 }

 .hero h1 {

     color: white;

     width: 95%;
     padding: 2rem;
     overflow-y: hidden;

     opacity: 1;
     z-index: 1;
     text-align: center;
     font-family: "Audiowide", sans-serif;
     font-size: clamp(2rem, 5vw + 2rem, 5.2rem);
     line-height: clamp(2.4rem, 5.5vw + 1rem, 5.6rem);
     font-weight: 400;
     letter-spacing: 0.1rem;
     transition: all 0.3s ease-in-out;
 }

 .hero h3 {
     color: white;
      z-index: 1;
     width: 100%;
     text-align: center;
      font-size: clamp(1rem, 1.5vw + 0.6rem, 1.4rem);
  font-weight: 300;
  transition: all 0.3s ease-in-out;
 }
 /* ---------- Tablet ---------- */
@media (max-width: 1300px) {
  .hero {
    padding: 2rem 1rem;
    min-height: 70vh;
    height: auto;
  }

  .hero h1 {
    width: 90%;
    font-size: clamp(1.4rem, 4vw, 4rem);
    line-height: clamp(2.5rem, 7vw, 4.5rem);
  }

  .hero h3 {
    font-size: clamp(1rem, 2vw, 1.2rem);
  }
}

/* ---------- Mobile ---------- */
@media (max-width: 600px) {
  .hero {
    padding: 1rem;
  }

  .hero h1 {
    width: 100%;
    font-size: clamp(1.3rem, 5vw, 3rem);
    line-height: clamp(1.5rem, 9vw, 3.5rem);
  }

  .hero h3 {
    font-size: clamp(0.9rem, 3vw, 1rem);
    width: 95%;
  }
}
@media (max-width: 400px) {
  .hero {
    padding: 1rem;
  }

  .hero h1 {
    width: 100%;
    font-size: clamp(0.4rem, 3vw, 3rem);
    line-height: clamp(1.5rem, 5vw, 3.5rem);
  }

  .hero h3 {
    font-size: clamp(0.9rem, 3vw, 1rem);
    width: 95%;
  }
}