
.gradientLine{
    width:100%;
    height:6rem;
   display: flex;
   justify-content: center;
   margin-top: 1rem;
  
}
.gradientlin{
    width:50%;
    height:10px;
    
   
}
@media (max-width: 768px) {
    .gradientLine{
        height:3rem;
       
    }
    .gradientlin{
        width:80%;
        
    }
}
